<div class="container div-center">
    <div class="row">
        <div class="col-md-5">
            <input name="name" class="form-control" style="width:430px" [(ngModel)]="name">
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary" (click)="search()">Search</button>
        </div>
    </div>

<div class="row" style="text-align:center;float:center">
<div class="card" *ngIf="showMedicine">
    <div class="card-title">Here it is!</div>
    <div class="card-body">{{obj.name}}</div>
    <div class="card-body">{{obj.quantity}}</div>
</div>
<div class="card" *ngIf="showError">
    <h5>
        No medicine found!
    </h5>
</div>
</div>
</div>